# Pandas

In [1]:
pip install pandas

Requirement already satisfied: pandas in /Users/emilien/anaconda3/envs/p38/lib/python3.8/site-packages (1.4.1)
Requirement already satisfied: pytz>=2020.1 in /Users/emilien/anaconda3/envs/p38/lib/python3.8/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /Users/emilien/anaconda3/envs/p38/lib/python3.8/site-packages (from pandas) (1.19.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/emilien/anaconda3/envs/p38/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/emilien/anaconda3/envs/p38/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
pd

## Créer un objet DataFrame

In [5]:
df = pd.DataFrame({"Colonne 1":["Dix","20","trente"],"Colonne 2":[10,40,23]})

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df

  Colonne 1  Colonne 2
0       Dix         10
1        20         40
2    trente         23

In [8]:
df.columns

Index(['Colonne 1', 'Colonne 2'], dtype='object')

## Travailler sur des données réelles

In [ ]:
pd.read_csv("../Data/europresse_HC_suisse_mod.csv")

Architecture de dossier

In [10]:
pwd

'/Users/emilien/Dropbox/Python pour les SHS/Formations/2022-04-04 CUSO/Séance 4 - Pandas'

In [12]:
df = pd.read_csv("https://raw.githubusercontent.com/pyshs/CUSO-2022-printemps/main/Data/europresse_HC_suisse_mod.csv")

In [14]:
df.shape

(237, 9)

In [15]:
df.columns

Index(['Unnamed: 0', 'Date_reco', 'Date', 'Titre', 'Journal', 'Contenu',
       'Auteur', 'Journaux-reco', 'Freq_chloro'],
      dtype='object')

In [16]:
df.index

RangeIndex(start=0, stop=237, step=1)

In [19]:
type(df["Date_reco"])

pandas.core.series.Series

In [20]:
df[["Date","Date_reco"]]

                                                  Date   Date_reco
0     International,  vendredi 2 juillet 2021 860 m...  2021-07-02
1        Science,  jeudi 26 mars 2020 2170 mots, p. 9   2020-03-26
2      Économie,  mardi 16 juin 2020 1192 mots, p. 15   2020-06-16
3     Science,  mercredi 18 mars 2020 1022 mots, p. 9   2020-03-18
4     Point fort,  vendredi 20 mars 2020 1558 mots,...  2020-03-20
..                                                 ...         ...
232    International,  mercredi 17 mai 2000 1204 mots   2000-05-17
233   Sciences & multimédia,  mardi 11 septembre 20...  2001-09-11
234        Temps fort,  lundi 3 janvier 2005 581 mots   2005-01-03
235      Wednesday, December 5, 2018 1280 mots, p. NA          NaN
236   BILAN;,  mercredi 23 avril 2008 1160 mots, p....  2008-04-23

[237 rows x 2 columns]

In [21]:
df.loc[233]

Unnamed: 0                                                     233
Date_reco                                               2001-09-11
Date              Sciences & multimédia,  mardi 11 septembre 20...
Titre             L'avenir des plantes médicinales Trois cents ...
Journal                                      Le Temps, no. 1122
Contenu            Fabriquer un nouveau médicament, aujourd'hui...
Auteur                                               Anne Crisinel
Journaux-reco                                             Le Temps
Freq_chloro                                                      0
Name: 233, dtype: object

## Mettre en forme

- nettoyer les colonnes inutiles (Date et Unnamed:0 et Journal)
- mettre la date en index

In [25]:
df = df.drop(["Unnamed: 0","Date","Journal"],axis=1)

In [28]:
df = df.set_index("Date_reco")

In [29]:
df

,Titre,Contenu,Auteur,Journaux-reco,Freq_chloro
Date_reco,,,,,
2021-07-02,"La stratégie covid brésilienne, un acharnemen...",7056 @fabiengoubet Avec Donald Trump en...,FABIEN GOUBET,Le Temps,4
2020-03-26,Chloroquine: une recherche controversée,6675 @fabiengoubet Voilà un peu plus d'...,FABIEN GOUBET,Le Temps,19
2020-06-16,[Transport aérien...],Transport aérien Qatar Airways va réduire ...,NaN,Tribune de Genève,20
2020-03-18,Une piste pour lutter contre le SARS-CoV-2,6668 (LE MONDE) La course aux traitemen...,SANDRINE CABUT,Le Temps,18
2020-03-20,[Coronavirus...],Coronavirus De la chloroquine contre le vi...,NaN,24 Heures,16
...,...,...,...,...,...
2000-05-17,Un groupe incontrôlé d'Abu Sayyaf joue un mau...,Un groupe d'une douzaine de civils armés de ...,"Arnaud Dubus, envoyé spécial sur l'île de Jolo",Le Temps,0
2001-09-11,L'avenir des plantes médicinales Trois cents ...,"Fabriquer un nouveau médicament, aujourd'hui...",Anne Crisinel,Le Temps,0
2005-01-03,L'impossible décompte des morts à Banda Aceh ...,"S'il n'y avait eu que l'eau, lance Ibrahim, ...","Alain Lallemand, envoyé spécial à Banda Aceh",Le Temps,1
NaN,Venezuela gold rush feeds a growing malaria e...,"Handsome and with neatly slicked hair, Victo...",NaN,Autre,1
2008-04-23,"3 En Tanzanie, sur les traces du capitaliste-...","Les attractions sont rares à Pandambili, un ...",Loup,Bilan,1